@game-width: 953px;
@game-height: 505px;

@media-root: "http://localhost/";

.process {
    width: @game-width;
    height: @game-height;

    background-image: url("@{media-root}images/process.png");
}

.done {}

.status {
    width: @game-width;
    height: 20px;
}

#lobby {
    text-align: center;
}

.container {
	margin-left: 0px;
	margin-top: 0px;
}